{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Materialize CSS/JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a class="right" href="{% url 'logout' %}">Logout</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="">Users</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>


</html>